# R package
r-base>=4.1
r-arrow
r-reticulate
r-sctransform
r-seurat>=4.1
r-tidyverse
bioconductor-aucell
bioconductor-cellid
bioconductor-deseq2
bioconductor-mofa2
bioconductor-sc3
bioconductor-scdblfinder
bioconductor-scran
bioconductor-singlecellexperiment

# python
python==3.8
loguru
joblib
sh
h5py
tqdm
rpy2>=3.5
more-itertools

# scientific calculation
numpy
pandas
statsmodels
scipy
xarray

# biology
pysam
pyranges
scanpy
squidpy
stlearn
anndata>=0.8
anndata2ri>=1.1
scvi-tools>=0.15
harmonypy
scanorama

# visualization
matplotlib
seaborn

# pip only
# muon
# mudata
# cosg
# patchworklib
# ont-fast5-api
# cool