# R package
r-base>=4.1
r-arrow
r-reticulate
r-sctransform
r-seurat>=4.1
r-tidyverse
bioconductor-aucell
bioconductor-cellid
bioconductor-deseq2
bioconductor-mofa2
bioconductor-sc3
bioconductor-scdblfinder
bioconductor-scran
bioconductor-singlecellexperiment