# scientific calculation
numpy
pandas
statsmodels
scipy
xarray

# biology
pysam
pyranges
scanpy
squidpy
stlearn
anndata>=0.8
anndata2ri>=1.1
scvi-tools
harmonypy
scanorama
muon
cosg

# visualization
matplotlib
seaborn
patchworklib

#others
loguru
joblib
sh
h5py
tqdm
rpy2>=3.5
ont-fast5-api
cool
more_itertools
